:root {
	--ficsit-orange: #fa9549;
	--ficsit-blue: #5bb0c5;
	--white: #fff;
	--lgrey: #f4f4f4;
	--grey: #787878;
	--dgrey: #606161;

	--bouncy-curve: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*::selection {
	background-color: var(--ficsit-orange);
	color: var(--white);
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.2rem;
	margin: 120px auto;
    width: min(90%, 3000px);
}

main {
	margin: 0 auto;
	box-sizing: border-box;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

h1 {
	font-weight: 600;
}

select {
	width: 20ch;
	background-color: var(--lgrey);
	appearance: none;
}

#desc-search {
    width: 500px;
    flex-grow: 1;
}

#results-container {
    flex-grow: 4;
}

#search-options {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}

#search-input {
	width: 100%;
	background-color: var(--lgrey);
	font-family: inherit;
	font-size: inherit;
	border: none;
	padding: 10px 15px;
}

#search-input:focus {
	outline: none;
}

#results {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(325px, 25%));
	width: 100%;
}

.colour-item {
	display: flex;
	width: 100%;
    min-width: 300px;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.colour-item:hover {
	background-color: var(--lgrey);
}

#missing-results {
	color: var(--grey);
}

.checkbox-container {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	user-select: none;
	margin: 5px 0;
}

.checkbox-container:hover .checkbox:not(.checked) {
	background-color: var(--grey);
}

.checkbox {
	background-color: var(--lgrey);
	color: white;
	width: 20px;
	height: 20px;
	padding: 5px;
	box-sizing: content-box;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s;
}

.checkbox .ficsit-checkmark {
	width: 100%;
	height: 100%;
	transform: scale(0);
	transition: transform 0.2s var(--bouncy-curve);
}

.checkbox.checked .ficsit-checkmark {
	transform: scale(1);
}

.checkbox.checked {
	background-color: var(--ficsit-orange);
}

.colour-cell {
	box-sizing: content-box;
	min-width: 40px;
	height: 60px;
}

.name-cell {
	display: flex;
	flex-direction: column;
    white-space: nowrap;
}

.colour-name {
	font-weight: 600;
}

.colour-code {
	color: var(--dgrey);
	font-size: 0.8em;
}
